.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}
.anchor{
  color: rgb(16, 5, 26);
}
.btn-color:hover{
  /* color: #ebf2fa; */
}

.anchor{
  margin-left:-10px;
}
.profile-image-pic{
  height: 100px;
  width: 400px;
  object-fit: cover;
}

.container{
  /* width: 800px; */
 
}

.cardbody-color{
 background-color: cornflowerblue;
 /* background-color: darkred; */

}

.signup a ,a,.anchor{
  text-decoration: none;
  
}
.signup a{
  color: #fff;
}
.signup a:hover {
  color:#0e1c36 ;
}

.signup a{
  font-weight: 600;
 
}

.myitem{
color: navajowhite;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.pwd-container {
  position: relative;
  width: 295px;
}
.card-body{
  /* width: 400px; */
}

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 8px;
}
.login:hover {
color: whitesmoke;
background-color: brown;
}